
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #FFFFFF;
  color: #000000;
  line-height: 1.6;
  padding: 20px;
}


section {
  padding: 20px;
  margin-bottom: 40px;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #FFF8DC;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.box h1{
  color: black;
  font-size: 1.5rem;
}


.box:hover {
  transition: 0.5s ease-in-out;
  background-color: #f9deed;
}


.box img {
  width: 140px;
  border-radius: 50%;
}


.contact {
  background-color: #C6C6C6;
}


h1, h2, h3 {
  color: #1f5a41;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

/* Paragraphs */
p {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}


a {
  color: #4C6B58;
  text-decoration: none;
}

a:hover {
  color: #2F4F4F;
  text-decoration: underline;
}
